<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Crochet</a>
        </div>
        <div class="row justify-content-md-center container collapse navbar-collapse">
            <div class="col row justify-content-md-center navbar-nav">
                <a class="col nav-item nav-link  active" [routerLink] = "['/products']">Produkty</a>
                <a class="col nav-item nav-link" [routerLink] = "['/patterns']">Schematy</a>
                <a class="col nav-item nav-link" [routerLink] = "['/contact']">Kontakt</a>
            </div>
        </div>
    </div>
</nav>
<hr>
