<div class="row">
    <img class="col-3" style="max-height: 200px;" src="{{ selectedProduct.imagePath }}" alt="Torebka ze ściągaczem">
    <form  [formGroup]="productForm" class="col-9" (ngSubmit)="onSave(productForm.value)">

        <div class="form-group">
            <label for="name">Nazwa produktu</label>
            <input class="form-control" type="text" id="name" formControlName="name" value="{{selectedProduct.name}}">

            <label for="productType">Rodzaj produktu</label>
            <input class="form-control" type="text" id="productType" formControlName="productType" value="{{selectedProduct.productType}}">

            <label for="ropeSize">Grubość sznurka</label>
            <input class="form-control" type="text" id="ropeSize" formControlName="ropeSize" value="{{selectedProduct.ropeSize}}">

            <label for="color">Kolor</label>
            <input class="form-control" type="text" id="color" formControlName="color" value="{{selectedProduct.color}}">

            <label for="description">Opis</label>
            <textarea class="form-control" id="description" formControlName="description" cols="20" rows="5" value="{{selectedProduct.description}}"></textarea>
            <button 
                type="submit" 
                class="btn btn-dark btn-lg"
                >Zapisz</button>
        </div>
    </form>
</div>