<div class="row">
    <img class="col-3" style="max-height: 200px;" src="{{ selectedProduct.imagePath }}" alt="Torebka ze ściągaczem">
    <form  class="col-9">
        <div class="form-group">
            <label for="name">Nazwa produktu</label>
            <input class="form-control" type="text" id="name" value="{{selectedProduct.name}}">

            <label for="type">Rodzaj produktu</label>
            <input class="form-control" type="text" id="type" value="{{selectedProduct.productType}}">

            <label for="rSize">Grubość sznurka</label>
            <input class="form-control" type="text" id="rSize" value="{{selectedProduct.ropeSize}}">

            <label for="color">Kolor</label>
            <input class="form-control" type="text" id="color" value="{{selectedProduct.color}}">

            <label for="desc">Opis</label>
            <textarea class="form-control" id="desc" cols="20" rows="5">{{selectedProduct.description}}</textarea>
            <button 
                type="button" 
                class="btn btn-dark btn-lg"
                (click) = "onSave()"
                >Zapisz</button>
        </div>
    </form>
</div>