<div class="container contact">
    <form *ngIf="!clickedSend">
        <p>Bardzo nam miło gościć Cię u nas. Widzimy że chciałyś o coś zapytać a może po prostu chcesz no nas wysłać jakąś wiadomość. W tym celu wypełnij poniższy formulaż. Jedno z nas z pewnością Ci odpisze. </p>
        <div class="form-group">
            <label for="neme">Imię i nazwisko</label>
            <div class="input-group">
                <input type="text" class="form-control" id="name" placeholder="Imię" required>
                <input type="text" class="form-control" placeholder="Nazwisko" required>
            </div>
            <label for="username">Login</label>
            <input type="text" class="form-control" id="username" placeholder="Login" required>
            <label for="text">Wiadomość</label>
            <textarea class="form-control" id="text" rows="5" required></textarea>
            <br>
            <button 
                type="submit" 
                class="btn btn-dark btn-lg float-right"
                (click) = "clickedSend = !clickedSend"
                >Wyślij</button>
        </div>
    </form>
    <div *ngIf="clickedSend">
        <p>Dziękujemy za kontakt z nami. Niebawem ktoś odpowie na Twoją wiadomość.  Miłedo dnia.</p>
    </div>
</div>  